.frame-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
}
.frame-wrapper a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.frame-logo {
  background: -webkit-linear-gradient(306deg, #490a60, #862275);
  background: -moz-linear-gradient(306deg, #490a60, #862275);
  background: -o-linear-gradient(306deg, #490a60, #862275);
  background: linear-gradient(144deg, #490a60, #862275);
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}

.frame-logo__img {
  margin-bottom: 15px;
}
.frame-logo__img img {
  width: 169px;
}

.frame-listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  text-align: center;
}

.frame-listing__item {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  cursor: pointer;
}
.frame-listing__item:hover .frame-listing__overlay {
  top: 0;
}

.frame-listing__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.frame-listing__comment {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}

.frame-icon-comment {
  background: url(../frame-images/frame-icon-comment.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.frame-icon-comment:hover {
  width: 40px;
  height: 40px;
}
