<div class="-info-plate tac">
    <div class="container">
        <i class="icon-plate-notice"></i> Подтвердите почту и получите 24 часа премиум доступа
        бесплатно. <a href="#" class="new-purple-link">Подробнее…</a>
    </div>
</div>
<div class="-info-plate tac">
    <div class="container">
        <i class="icon-photo-mask-moderation"></i>
        <div class="dib vam">Ваша анкета на модерации <a href="#" class="new-purple-link">Подробнее…</a></div>
    </div>
</div>