<li class="mailing__item">
    <div class="avatar">
        <a href="/profile/she/101780">
            <img src="https://img1.zolushka-project.ru/img/200_200/3eac39c5b855ec6fc7328faf5125daca4c57404d.jpeg"
                 onerror="this.src='/images/default-user-avata-big.jpg'" alt="">
        </a>
    </div>

    <div class="mailing__item-info">
        <div class="time_viewed mb5">
            <p><span class="in_bl">Сегодня, 22:57</span></p>
        </div>
        <div class="ffr mb5">
            <a href="/profile/she/101780" class="name">
                Alina
            </a>, 27 лет Москва, Россия
        </div>
        <p class="last_was mb10"><i class="status_round in_bl offline"></i> <span class="in_bl">была 14 часов назад</span>
        </p>
        <div class="send_msg ffr">
            <a href="#" data-popup-open="send_message"
               ng-controller="messageCtrl as messageCtrl"
               ng-click="messageCtrl.openDialogById(101780)"
               class="ng-scope">
                <span class="icon-chat-empty icon"></span>
                Отправить сообщение
            </a>
        </div>
    </div>
</li>
<li class="mailing__item">
    <div class="avatar">
        <a href="/profile/she/101780">
            <img src="https://img1.zolushka-project.ru/img/200_200/3eac39c5b855ec6fc7328faf5125daca4c57404d.jpeg"
                 onerror="this.src='/images/default-user-avata-big.jpg'" alt="">
        </a>
    </div>

    <div class="mailing__item-info">
        <div class="time_viewed mb5">
            <p><span class="in_bl">Сегодня, 22:57</span></p>
        </div>
        <div class="ffr mb5">
            <a href="/profile/she/101780" class="name">
                Alina
            </a>, 27 лет Москва, Россия
        </div>
        <p class="last_was mb10"><i class="status_round in_bl online"></i> <span class="in_bl">была 14 часов назад</span>
        </p>
        <div class="send_msg ffr">
            <a href="#" data-popup-open="send_message"
               ng-controller="messageCtrl as messageCtrl"
               ng-click="messageCtrl.openDialogById(101780)"
               class="ng-scope">
                <span class="icon-chat-empty icon"></span>
                Отправить сообщение
            </a>
        </div>
    </div>
</li>