<!-- START preloader -->
<div class="new-popup-registration__form--preloader{% if visible != 'true' %} hidden{% endif %}">
	<div class="new-popup-registration__step2__form-overlay"></div>
	<i class="icon-registration-preloader"></i>
</div>
<!-- // END preloader -->