.new-popup-registration
    border-radius: 10px
    background-color: #ffffff
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
    position: static
    top: 50%
    left: 50%
    //+transform(translateY(-50%))
    width: 610px
    margin: 20px auto
    //margin-left: -305px
    padding: 15px 20px
    font-family: TruthCYR-r
    font-size: 14px

.new-popup-registration__step-title
    color: #a9a9a9
    font-size: 14px
    margin-bottom: 10px

.new-popup-registration__title
    font-size: 20px
    color: #000
    line-height: 1.55
    margin-bottom: 5px

.new-popup-registration__sub-title
    margin-bottom: 15px
    line-height: 1.36

.new-popup-registration__photo-requirements-title
    color: #b978bf
    cursor: pointer

.icon-purple-arrow-down
    display: inline-block
    vertical-align: middle
    border: 4px solid transparent
    border-top: 6px solid #b978bf
    position: relative
    top: 1px

.ff-bold
    font-weight: bold

.fz12
    font-size: 12px

.new-popup-registration__photo-requirements-content-title
    margin-bottom: 10px
    color: #3a3a3a
    
.new-popup-registration__photo-requirements-content
    color: #666
    padding-top: 15px
    line-height: 1.58

.mb10
    margin-bottom: 10px

.new-popup-registration__dotted-listing
    padding-left: 25px

.new-popup-registration__mask-container
    margin-left: -20px
    margin-right: -20px
    border-top: 2px dashed #8890bd
    border-bottom: 2px dashed #8890bd
    background: #f8f8f8
    padding: 20px
    position: relative
    font-size: 0
    line-height: 0
    min-height: 270px

.news-popup-registration__mask-input
    position: absolute
    top: 0
    width: 100%
    height: 100%
    left: 0
    opacity: 0
    z-index: 10
    display: block

.new-popup-registration__mask-container-units
    margin-bottom: -20px

.new-popup-registration__mask-item__added-photo
    width: 18%
    display: inline-block
    overflow: hidden
    position: relative
    border-radius: 8px
    margin-bottom: 20px

    &:after
        display: block
        content: ''
        margin-top: 100%

    &:not(:nth-child(5n))
        margin-right: 2.5%
        
    img
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        object-fit: cover
        border-radius: 8px

    &.add-button
        background: #fff
        color: #6d83ec
        font-size: 12px
        line-height: normal

        .new-popup-registration__mask-item__added-photo--top-icon,
        .new-popup-registration__mask-item__added-photo--bottom-text-icon
            position: absolute
            top: 20px
            left: 0
            text-align: center
            width: 100%

        .new-popup-registration__mask-item__added-photo--bottom-text-icon
            top: auto
            bottom: 10px
            
.new-popup-registration__back-link
    color: #8e94be
    display: inline-block
    margin-bottom: 50px

    &:hover
        text-decoration: underline
        
.new-popup-registration__skip-link
    color: #dedede
    +transition()
    cursor: pointer
    
    &:hover
        color: #666