{% extends "layouts/app.twig" %}

{% block pageTitle %}Регистрация Женщин{% endblock %}

{% block content %}
	<div class="mb30 tac">
		<a href="#" class="violet_btn" data-popup-open="1">
			step 1
		</a>

		<a href="#" class="violet_btn" data-popup-open="2">
			попап 2
		</a>

		<a href="#" class="violet_btn" data-popup-open="3">
			шаг 3 Анкета
		</a>

		<a href="#" class="violet_btn" data-popup-open="additional-info">
			Дополнительная информация
		</a>

		<a href="#" class="violet_btn" data-popup-open="4">
			Спасибо 1
		</a>

		<a href="#" class="violet_btn" data-popup-open="5">
			Спасибо 2
		</a>

		<a href="#" class="violet_btn" data-popup-open="moderation">
			На модерации
		</a>
	</div>

	<div class="overlay registration-popups">
		<div class="table_wrap">
			<div class="td_wrap">
				<div class="new-popup-registration tac hidden" data-popup-block="1">
					<!-- START step 1 registration -->
					<div class="new-popup-registration__step-container new-popup-registration__step1 pos_r">
						<div class="new-popup-registration__step1-container-inner in_bl tal">
							<p class="new-popup-registration__step-title tac">Шаг 1 из 3. Добавление фото.</p>
							<p class="new-popup-registration__title tac">Добавьте Вашу фотографию</p>
							<p class="new-popup-registration__sub-title tac">Используйте Вашу настоящую фотографию – это позволит нам
								<br>в дальнейшем подтвердить ее подлинность и повысит в итоге
								<br>Ваши шансы на успех.</p>
							<div class="new-popup-registration__photo-requirements-wrapper mb20 tac">
								<div class="new-popup-registration__photo-requirements-title in_bl"
										 data-toggle="photo-requirements">
									Требования к фото <i class="icon-purple-arrow-down"></i>
								</div>
								<div class="new-popup-registration__photo-requirements-content fz12 hidden"
										 data-toggle-target="photo-requirements">
									<p class="new-popup-registration__photo-requirements-content-title ff-bold tac mb10 fz12">
										Допускаются
										фотографии:</p>
									<ul class="new-popup-registration__dotted-listing tal mb10 text-light">
										<li class="new-popup-registration__dotted-item">На которых изображен реальный владелец анкеты</li>
										<li class="new-popup-registration__dotted-item">Четко и полностью видно лицо</li>
										<li class="new-popup-registration__dotted-item">Фотографии хорошего качества, без размытий, шумов,
											засветов, сделанные в дневное время суток
										</li>
									</ul>
									<p class="new-popup-registration__photo-requirements-content-title ff-bold tac mb10 fz12">
										Не допускаются к размещению фотографии:</p>
									<ul class="new-popup-registration__dotted-listing tal mb10 text-light">
										<li class="new-popup-registration__dotted-item">Эротического, политического, религиозного
											характера
										</li>
										<li class="new-popup-registration__dotted-item">С третьими лицами (групповые фото), в том числе с
											детьми
										</li>
										<li class="new-popup-registration__dotted-item">Обрезанные фото (например, только части тела)</li>
										<li class="new-popup-registration__dotted-item">Содержащие сцены насилия, оружия и правонарушения
										</li>
										<li class="new-popup-registration__dotted-item">Нарушающие авторское право владельца</li>
										<li class="new-popup-registration__dotted-item">Несущие оскорбительный характер</li>
										<li class="new-popup-registration__dotted-item">Пропагандирующие употребление наркотиков, спиртных
											напитков и табакокурение
										</li>
										<li class="new-popup-registration__dotted-item">Несущие рекламу</li>
										<li class="new-popup-registration__dotted-item">Нарушающие законодательство РФ</li>
									</ul>
									<p>Администрация в праве отказать в публикации фотографий без объяснения причин</p>
								</div>
							</div>
						</div>
						<div class="new-popup-registration__mask mb20">
							<div class="new-popup-registration__mask-container">
								<input type="file" multiple class="news-popup-registration__mask-input"
											 id="news-popup-registration__mask-input">

								<div class="new-popup-registration__mask-container-units tal">
									<div class="new-popup-registration__mask-item__added-photo add-button">
										<p class="new-popup-registration__mask-item__added-photo--top-icon"><i
													class="icon-reg-camera"></i></p>
										<p class="new-popup-registration__mask-item__added-photo--bottom-text-icon">Добавить
											фото</p>
									</div>
									{#<div class="new-popup-registration__mask-item__added-photo">
											<div class="new-popup-registration__mask-item__added-photo__wrapper">
													<img alt="" src="http://placehold.it/106x106"/>
											</div>
											<i class="icon-mask-delete"></i>
											<i class="icon-mask-crop"></i>
											<i class="icon-photo-mask-moderation"></i>
									</div>#}
								</div>
								<div class="new-popup-registration__mask-container__text">
									Перетащите сюда свои фото или <br><span class="new-purple-link">выберите</span> файл
								</div>
							</div>
						</div>
						<div class="new-popup-registration__buttons">
							<p class="mb20">
								<button class="js-photo-upload-button violet_btn" disabled>Продолжить</button>
							</p>
							<p><a href="#"
										class="new-popup-registration__back-link new-popup-registration__back-link--style">Назад</a></p>
						</div>
						<div class="new-popup-registration__notice tac">
							<i class="icon-big-photo-mask-moderation mb20"></i>
							<p class="mb30">
								Фото добавлено и отправлено на модерацию <br>
								Сейчас это фото не видно другим пользователям
							</p>
							<span class="js-close-notice dib new-popup-registration__back-link--style">Понятно</span>
						</div>
						<div class="new-popup-registration__crop-wrapper hidden tac">
							<div class="new-popup-registration__crop-title">Выберите один из фильтров или просто
								<br>кадрируйте фотографию
							</div>
							<div class="dib">
								<div class="new-popup-registration__crop-mask-progressbar"></div>
								<div class="new-popup-registration__crop">
									<img src="http://placehold.it/370x370" alt="">
								</div>
								<div class="new-popup-registration__crop-buttons display-flex space-between flex-middle">
									<a href="#" class="js-close-crop new-popup-registration__crop-success">
										<i class="icon-crop-success mr5"></i>
										<span class="dib vam">Готово</span>
									</a>
									<div class="new-popup-registration__crop-move">
										<i class="icon-mask-rotate-left"></i>
										<i class="icon-mask-rotate-right"></i>
									</div>
									<a href="#" class="js-close-crop new-popup-registration__crop-cross">
										<i class="icon-crop-cross mr5"></i>
										<span class="dib vam">Без фильтра</span>
									</a>
								</div>
							</div>
						</div>
						<div class="tac bottom-skip-button">
							<a href="#" class="new-popup-registration__skip-link">Пропустить</a>
						</div>
					</div>
					<!-- // END step 1 registration -->
				</div>

				<div class="new-popup-registration tac hidden" data-popup-block="2">
					<!-- START step 2 registration -->
					<div class="new-popup-registration__step-container new-popup-registration__step2 pos_r">
						<div class="in_bl tal">
							<p class="new-popup-registration__step-title tac">Шаг 2 из 3. Защита анкеты.</p>
							<p class="new-popup-registration__title tac">Защитите Вашу анкету</p>
							<p class="new-popup-registration__sub-title tac">Чтобы сделать доступ к учетной записи безопасным,
								добавьте свой номер
								<br>мобильного телефона, на который мы вышлем бесплатное СМС с кодом <br>подтверждения.</p>
						</div>
						<form action="#" class="new-popup-registration__step2__form mb20 pos_r">
							<!-- START standard-form-content -->
							<div class="new-popup-registration__step2__form-content">
								<p class="mb20 pos_r">
									<input type="number" placeholder="Код из СМС">
									<span class="form--error-notification">Неверный код</span>
								</p>
								<p class="mb20">
									<button class="violet_btn db">Отрпавить</button>
								</p>
								<p><a href="#" class="new-popup-registration__back-link--style">Выслать другой код</a></p>
							</div>
							<!-- // END standard-form-content -->

							{% include 'widgets/preloader.twig' with { "visible": "true" } %}

							<!-- START new-popup-registration__step2__form--send -->
							<div class="new-popup-registration__step2__form--send hidden">
								<p class="mb20">Готово!</p>
								<p><a href="#" class="violet_btn">Продолжить</a></p>
							</div>
							<!-- // END new-popup-registration__step2__form--send -->
						</form>
						<p class="light-text">Данная информация необходима для защиты учетной записи. Мы ни кому не разглашаем Ваши
							данные, Ваш номер не будет доступен другим пользователям. <br>Вся процедура бесплатна.</p>
						<div class="tac bottom-skip-button">
							<a href="#" class="new-popup-registration__skip-link">Подтвердить позднее</a>
						</div>
					</div>
					<!-- // END step 2 registration -->
				</div>
				<div class="new-popup-registration tac hidden" data-popup-block="additional-info">
					<!-- START additional-info registration -->
					<div class="new-popup-registration__step-container new-popup-registration__step3 pos_r">
						<div class="in_bl tal">
							{#<p class="new-popup-registration__step-title tac">Шаг 3 из 3. Анкета.</p>#}
							<p class="new-popup-registration__title tac mb20">Дополнительная информация</p>
							{#<p class="new-popup-registration__sub-title tac">Мы рекомендуем заполнять анкету подробно, чтобы
								девушкам со
								схожими интересами и целями было проще найти подходящую пару.</p>#}
						</div>
						<form action="#" class="new-popup-registration__step3__form mb20 pos_r">
							<!-- START standard-form-content -->
							<div class="new-popup-registration__step3__form-content">
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Интересы
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="select_wrap vam tal text-light">
												<select class="selectbox">
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
												</select>
											</div>
											<span class="form--error-notification hidden">Ошибка</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Отношения
									</div>
									<div class="new-popup-registration__step3-field-container">
										<div class="pos_r tal">
											<div class="units-wrapper">
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">В браке</span>
												</label>
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Не замужем</span>
												</label>
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">В разводе</span>
												</label>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Дети
									</div>
									<div class="new-popup-registration__step3-field-container">
										<div class="pos_r tal">
											<div class="units-wrapper">
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Есть</span>
												</label>
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Нет</span>
												</label>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="new-popup-registration__step3-separator form-line"></div>
								<div class="female-new-reg__additional-info-title fz16 tal mb20">Предпочтения в сексе</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Периодичность
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="select_wrap vam tal text-light">
												<select class="selectbox">
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
												</select>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Роль в сексе
									</div>
									<div class="new-popup-registration__step3-field-container">
										<div class="pos_r tal">
											<div class="units-wrapper">
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Актив</span>
												</label>
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Пассив</span>
												</label>
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Бревно</span>
												</label>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Вид секса
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="select_wrap vam tal text-light">
												<select class="selectbox">
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
												</select>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Ориентация
									</div>
									<div class="new-popup-registration__step3-field-container">
										<div class="pos_r tal">
											<div class="units-wrapper">
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Гетеро</span>
												</label>
												<label class="dib vam mr5">
													<input type="radio" class="hidden no-style" name="1">
													<span class="new-popup-reg__radio-detect">Би</span>
												</label>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="new-popup-registration__step3-separator form-line"></div>
								<p class="mb20">
									<button class="violet_btn" disabled>Готово</button>
								</p>
								<p class="tac"><a href="#" class="new-popup-registration__back-link--style">Просмотреть анкету</a></p>
							</div>
							<!-- // END standard-form-content -->

							{% include 'widgets/preloader.twig' %}
						</form>
						<div class="tac bottom-skip-button">
							<a href="#" class="new-popup-registration__skip-link">Подтвердить позднее</a>
						</div>
					</div>
					<!-- // END additional-info registration -->
				</div>
				<div class="new-popup-registration tac hidden" data-popup-block="3">
					<!-- START step 3 registration -->
					<div class="new-popup-registration__step-container new-popup-registration__step3 pos_r">
						<div class="in_bl tal">
							<p class="new-popup-registration__step-title tac">Шаг 3 из 3. Анкета.</p>
							<p class="new-popup-registration__title tac">Заполните Вашу анкету</p>
							<p class="new-popup-registration__sub-title tac">Мы рекомендуем заполнять анкету подробно, чтобы мужчинам
								со схожими
								<br>интересами и целями было проще найти подходящую пару.</p>
						</div>
						<form action="#" class="new-popup-registration__step3__form mb20 pos_r">
							<!-- START standard-form-content -->
							<div class="new-popup-registration__step3__form-content">
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Расскажите о себе
									</div>
									<div class="new-popup-registration__step3-field-container">
										<div class="pos_r">
                                <textarea class="error-input mb5"
																					placeholder="Напишите о себе (максимум 500 символов)"></textarea>
											<span class="form--error-notification">Неверный код</span>
										</div>
										<p class="fz12 tal grey-color">Согласно <a href="#"
																															 class="new-popup-registration__back-link--style">правилам</a>
											сайта запрещено указывать контактые данные, а так же использовать нецензурную лексику
										</p>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Цель знакомства
									</div>
									<div class="new-popup-registration__step3-field-container">
										<div class="pos_r tal">
											<label class="dib vam mr5">
												<input type="checkbox" class="hidden no-style" name="1">
												<span class="new-popup-reg__radio-detect">блондин</span>
											</label>
											<label class="dib vam mr5">
												<input type="checkbox" class="hidden no-style" name="1">
												<span class="new-popup-reg__radio-detect">блондин</span>
											</label>
											<label class="dib vam mr5">
												<input type="checkbox" class="hidden no-style" name="1">
												<span class="new-popup-reg__radio-detect">блондин</span>
											</label>
											<label class="dib vam mr5">
												<input type="checkbox" class="hidden no-style" name="1">
												<span class="new-popup-reg__radio-detect">блондин</span>
											</label>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="new-popup-registration__step3-separator form-line"></div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Рост
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="dib mr5">
												<input type="text" class="small-input">
											</div>
											<div class="dib vam text-light">см</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Вес
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="dib mr5">
												<input type="text" class="small-input">
											</div>
											<div class="dib vam text-light">кг</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Внешность
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="select_wrap vam tal text-light">
												<select class="selectbox">
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
												</select>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Телосложение
									</div>
									<div class="new-popup-registration__step3-field-container get_in_top">
										<div class="pos_r tal">
											<div class="select_wrap vam tal text-light">
												<select class="selectbox">
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
													<option value="">asdasd</option>
												</select>
											</div>
											<span class="form--error-notification hidden">Неверный код</span>
										</div>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Цвет волос
									</div>
									<div class="new-popup-registration__step3-field-container checkboxes-container tal">
										<label class="dib vam mr5">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">блондин</span>
										</label>
										<label class="dib vam mr5">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">блондин</span>
										</label>
										<label class="dib vam mr5">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">блондин</span>
										</label>
										<label class="dib vam mr5">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">блондин</span>
										</label>
									</div>
								</div>
								<div class="display-flex form-line">
									<div class="new-popup-registration__step3-field-name">
										Цвет глаз
									</div>
									<div class="new-popup-registration__step3-field-container checkboxes-container tal">
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
										<label class="dib vam mr5 curp">
											<input type="radio" class="hidden no-style" name="1">
											<span class="new-popup-reg__radio-detect">карие</span>
										</label>
									</div>
								</div>
								<div class="new-popup-registration__step3-separator form-line"></div>
								<p class="mb20">
									<button class="violet_btn">Продолжить</button>
								</p>
							</div>
							<!-- // END standard-form-content -->

							{% include 'widgets/preloader.twig' %}
						</form>
						<div class="tac bottom-skip-button">
							<a href="#" class="new-popup-registration__skip-link">Пропустить</a>
						</div>
					</div>
					<!-- // END step 3 registration -->
				</div>
				<div class="new-popup-registration tac hidden" data-popup-block="4">
					<!-- START thx registration -->
					<div class="new-popup-registration__step-container no-min-height no-pb new-popup-registration__thx pos_r">
						<p class="mb20"><i class="icon-new-reg-success"></i></p>
						<p class="mb20 new-popup-registration__title lhn tac">Благодарим за то, что хотите присоединиться к
							<br>нашему проекту, и просим подождать, пока Ваша
							<br>анкета будет проверена.</p>
						<p class="mb30">Успешные мужчины на сайте «Золушка Project» ценят свое <br>время, приобретая премиум-доступ к сервису и
							получая взамен <br>возможность знакомиться с лучшими девушками, которые <br>проходят предварительный отбор.</p>

						<p class="mb30">Все заявки на регистрацию обрабатываются вручную <br>ежедневно с 08:00 до 23:00 по МСК.</p>

						<p class="mb30">После одобрения Вам придет уведомление на почту и sms.</p>
						<p class="mb30">Пока идет проверка анкеты, вы можете заполнить <br>дополнительные сведения.</p>
						<p class="mb20">
							<a href="#" class="violet_btn">Заполнить</a>
						</p>
						<p><a href="#" class="new-popup-registration__back-link--style">Просмотреть анкету</a></p>
					</div>
					<!-- // END thx registration -->
				</div>
				<div class="new-popup-registration tac hidden" data-popup-block="5">
					<!-- START thx registration -->
					<div class="new-popup-registration__step-container no-min-height no-pb new-popup-registration__thx pos_r">
						<p class="mb20"><i class="icon-new-reg-success"></i></p>
						<p class="mb20 new-popup-registration__title lhn tac">Поздравляем, Вы зарегистрированы.</p>
						<p class="mb20">Вам на почту <a href="mailto:tkbyjkdp@emltmp.com" class="new-popup-registration__back-link--style">tkbyjkdp@emltmp.com</a> отправлено письмо с подтверждением.
							<br>После подтверждения e-mail, Вы сможете заполнить анкету и
							<br>воспользоваться услугами сайта.</p>

						<p class="mb20">
							<span class="text-light">Если вы не получили письмо в течении 30 секунд, проверьте папку</span> спам
						</p>
						<p>
							<a href="#" class="violet_btn disabled">Продолжить</a>
						</p>
					</div>
					<!-- // END thx registration -->
				</div>
				<div class="new-popup-registration tac hidden" data-popup-block="moderation">
					<!-- START thx registration -->
					<div class="new-popup-registration__step-container no-min-height no-pb new-popup-registration__thx pos_r">
						<p class="mb20"><i class="icon-moderation__big"></i></p>
						<p class="mb20 new-popup-registration__title lhn tac">Ваша анкета на модерации.</p>
						<p class="mb20">Успешные мужчины на сайте «Золушка Project» ценят свое <br>время, приобретая премиум-доступ к
							сервису и получая взамен <br>возможность знакомиться с лучшими девушками, которые <br>проходят предварительный
							отбор.</p>

						<p class="mb20">Благодарим за то, что хотите присоединиться к нашему проекту, <br>и просим подождать, пока Ваша
							анкета будет проверена.</p>

						<p class="mb20">Все заявки на регистрацию обрабатываются вручную <br>ежедневно с 08:00 до 23:00 по МСК.</p>

						<p class="mb20">После одобрения Вам придет уведомление на почту и sms.</p>

						<p class="mb20">Пока идет проверка анкеты, вы можете заполнить <br>дополнительные сведения.</p>
						<p class="mb20">
							<a href="#" class="violet_btn">Заполнить</a>
						</p>
						<p><a href="#" class="new-popup-registration__back-link--style">Просмотреть анкету</a></p>
					</div>
					<!-- // END thx registration -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}