{% set page = 'true' %}

{% extends 'layouts/app.twig' %}

{% block content %}

	<div class="content_wrap_shadow profile_views_page w100">
		<h1 class="page_title tac">Текущая рассылка</h1>
		<div class="mailing display-flex space-between">
			<div class="mailing__left">
				<div class="mailing__left-title fz18 ffr mb20">Проявили интерес</div>
				<div class="mailing__no-answers no-answers tac">
					<div class="no-answers__icon">
						<i class="icon-mailing-clock"></i>
					</div>
					<div class="no-answers__content">
						Увы, пока ни одной девушки не откликнулось. <br>
						По пробуйте сделать текст Вашего объявления более привлекательным, заполните подробнее вашу анкету, добавьте фотографию в профиль или подождите еще не много.
					</div>
				</div>
			</div>
			<div class="mailing__right">
				<div class="mailing__scope" data-block="mailing-scope">
					<p class="mailing__time-left mb5">Осталось 8 часов 59 минут</p>
					<p class="ffr mb10">21-25, Москва, провести вечер, показывается во всех городах</p>
					<div class="mailing__message">
						Привет! Предлагаю встретиться 04.11, вечером. Хочу познакомиться с пермским гостеприимством и
						темпераментом. Жду ответа и надеюсь на продолжение общения. Юлиан
					</div>
					<div class="mailing__blacklisted ffr mb10">Исключенные пользователи:</div>
					<div class="mailing__blacklisted-photos	 fz0">
						<div class="mailing__blacklisted-item more-photos ffr">
							<a class="new-purple-link" href="#">и еще 23</a>
						</div>
						{% for i in 1..9 %}
							<div class="mailing__blacklisted-item">
								<img src="http://placehold.it/27x27" alt=""
									 class="mailing__blacklisted-avatar">
							</div>
						{% endfor %}
					</div>
					<div class="mailing__right-edit">
						<a href="#" class="new-purple-link ffr">
							<i class="in_bl pen_icon"></i>
							<span class="in_bl">Редактировать</span>
						</a>
					</div>
				</div>
				<div class="mailing__form" data-block="mailing-form">
					<form action="#">
						<div class="form-line display-flex space-between">
							<div class="mailing__form-caption">Возраст</div>
							<div class="mailing__form-field">
								<input type="text" placeholder="от 18 &mdash; до 30">
								<span class="mailing__form-field-label">Лет.</span>
							</div>
						</div>
						<div class="form-line display-flex space-between">
							<div class="mailing__form-caption">Город</div>
							<div class="mailing__form-field">
								<input type="text" class="standard_input mb10" placeholder="Город">
								<label class="mailing__form-show-cities">
									<input type="checkbox" class="icon-ok"> Показывать другим городам
								</label>
							</div>
						</div>
						<div class="form-line display-flex space-between">
							<div class="mailing__form-caption">Цели знакомства</div>
							<div class="mailing__form-field">
								<div class="js-multiselect" data-placeholder="Укажите">
									<div class="js-multiselect__current text-light"></div>
									<div class="js-multiselect__dropdown">
										<ul class="js-multiselect__lising text-light">
											<li class="js-multiselect__item">
												<label class="js-multiselect__label">
													<input type="checkbox" class="hidden no-style">
													<span class="js-multiselect__detector">Провести вечер</span>
												</label>
											</li>
											<li class="js-multiselect__item">
												<label class="js-multiselect__label">
													<input type="checkbox" class="hidden no-style">
													<span class="js-multiselect__detector">Провести выходные</span>
												</label>
											</li>
											<li class="js-multiselect__item">
												<label class="js-multiselect__label">
													<input type="checkbox" class="hidden no-style">
													<span class="js-multiselect__detector">Серьезные отношения</span>
												</label>
											</li>
											<li class="js-multiselect__item">
												<label class="js-multiselect__label">
													<input type="checkbox" class="hidden no-style">
													<span class="js-multiselect__detector">Свидание</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="form-line display-flex space-between">
							<div class="mailing__form-caption lh30">Исключить пользователей</div>
							<div class="mailing__form-field">
								<div class="mailing__blacklisted-photos mb0 fz0">
									<div class="mailing__blacklisted-item more-photos ffr">
										<a class="new-purple-link" href="#">и еще 23</a>
									</div>
									{% for i in 1..9 %}
										<div class="mailing__blacklisted-item">
											<img src="http://placehold.it/27x27" alt=""
											     class="mailing__blacklisted-avatar">
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="form-line display-flex space-between">
							<div class="mailing__form-caption">Текст рассылки</div>
							<div class="mailing__form-field">
								<textarea rows="8"></textarea>
							</div>
						</div>

						<div class="display-flex space-between flex-middle">
							<a href="#" class="new-purple-link ffr">Остановить рассылку</a>
							<button type="submit" class="violet_btn">Сохранить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="css/mailing.css">
{% endblock %}

{% block scriptsBlock %}
	<script src="js/app.js"></script>
{% endblock %}