{% set page = 'true' %}

{% extends 'layouts/app.twig' %}

{% block content %}

	<div class="content_wrap_shadow profile_views_page w100">
		<h1 class="page_title tac">Найти девушку за 30 минут</h1>
		<div class="tac fz18 mb20 ffr">Укажите кому показывать рассылку </div>
		<div class="mailing__form w540">
			{% include 'widgets/mailing-form.twig' %}
		</div>
	</div>

{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="css/mailing.css">
{% endblock %}

{% block scriptsBlock %}
	<script src="js/app.js"></script>
{% endblock %}