{% extends "layouts/app.twig" %}

{% block pageTitle %}Регистрация мужчин{% endblock %}

{% block content %}

    <div class="mb30 tac">
        <a href="#" class="violet_btn" data-presentation-toggle="1">
            попап 1
        </a>

        <a href="#" class="violet_btn" data-presentation-toggle="2">
            попап 2
        </a>

        <a href="#" class="violet_btn" data-presentation-toggle="3">
            попап 3
        </a>

        <a href="#" class="violet_btn" data-presentation-toggle="4">
            попап 4
        </a>

        <a href="#" class="violet_btn" data-presentation-toggle="5">
            попап 5
        </a>

        <a href="#" class="violet_btn" data-presentation-toggle="6">
            попап 6
        </a>
    </div>



    <div class="new-popup-registration tac hidden" data-presentation-toggle-block="1">
        <!-- START step 1 registration -->
        <div class="new-popup-registration__step-container new-popup-registration__step1 pos_r">
            <div class="in_bl tal">
                <p class="new-popup-registration__step-title tac">Шаг 1 из 3. Добавление фото.</p>
                <p class="new-popup-registration__title tac">Создайте Вашу конфиденциальную фотографию</p>
                <p class="new-popup-registration__sub-title tac">Что бы сохранить Вашу анонимность, Вы можете <br>применить
                    один
                    из
                    фильтров.</p>
                <div class="new-popup-registration__photo-requirements-wrapper mb20 tac">
                    <div class="new-popup-registration__photo-requirements-title in_bl"
                         data-toggle="photo-requirements">
                        Требования к фото <i class="icon-purple-arrow-down"></i>
                    </div>
                    <div class="new-popup-registration__photo-requirements-content fz12 hidden"
                         data-toggle-target="photo-requirements">
                        <p class="new-popup-registration__photo-requirements-content-title ff-bold tac mb10 fz12">
                            Допускаются
                            фотографии:</p>
                        <ul class="new-popup-registration__dotted-listing tal mb10">
                            <li class="new-popup-registration__dotted-item">
                                На которых изображен реальный владелец анкеты
                            </li>
                            <li class="new-popup-registration__dotted-item">
                                Четко и полностью видно лицо
                            </li>
                            <li class="new-popup-registration__dotted-item">
                                Фотографии хорошего качества, без размытий, шумов, засветов, <br>сделанные в дневное
                                время суток
                            </li>
                        </ul>
                        <p class="new-popup-registration__photo-requirements-content-title ff-bold tac mb10 fz12">
                            Допускаются
                            фотографии:</p>
                        <ul class="new-popup-registration__dotted-listing tal mb10">
                            <li class="new-popup-registration__ditted-item">Эротического, политического, религиозного
                                характера
                            </li>
                            <li class="new-popup-registration__ditted-item">С третьими лицами (групповые фото), в том
                                числе с детьми
                            </li>
                            <li class="new-popup-registration__ditted-item">Обрезанные фото (например, только части
                                тела)
                            </li>
                            <li class="new-popup-registration__ditted-item">Содержащие сцены насилия, оружия и
                                правонарушения
                            </li>
                            <li class="new-popup-registration__ditted-item">Нарушающие авторское право владельца</li>
                            <li class="new-popup-registration__ditted-item">Несущие оскорбительный характер</li>
                            <li class="new-popup-registration__ditted-item">Пропагандирующие употребление наркотиков,
                                спиртных
                                напитков
                                <br>и табакокурение
                            </li>
                            <li class="new-popup-registration__ditted-item">Несущие рекламу</li>
                            <li class="new-popup-registration__ditted-item">Нарушающие законодательство РФ</li>
                        </ul>
                        <p>Администрация в праве отказать в публикации фотографий без объяснения причин</p>
                    </div>
                </div>
            </div>
            <div class="new-popup-registration__mask mb20">
                <div class="new-popup-registration__mask-header mb10 tac">
                    <div class="in_bl new-popup-registration__mask-item">
                        <i class="icon-photo-mask1"></i>
                    </div>
                    <div class="in_bl new-popup-registration__mask-item">
                        <i class="icon-photo-mask2"></i>
                    </div>
                    <div class="in_bl new-popup-registration__mask-item">
                        <i class="icon-photo-mask3"></i>
                    </div>
                    <div class="in_bl new-popup-registration__mask-item">
                        <i class="icon-photo-mask4"></i>
                    </div>
                    <div class="in_bl new-popup-registration__mask-item">
                        <i class="icon-photo-mask5"></i>
                    </div>
                </div>
                <div class="new-popup-registration__mask-container">
                    <input type="file" multiple class="news-popup-registration__mask-input"
                           id="news-popup-registration__mask-input">

                    <div class="new-popup-registration__mask-container-units tal">
                        <div class="new-popup-registration__mask-item__added-photo add-button">
                            <p class="new-popup-registration__mask-item__added-photo--top-icon"><i
                                        class="icon-reg-camera"></i></p>
                            <p class="new-popup-registration__mask-item__added-photo--bottom-text-icon">Добавить
                                фото</p>
                        </div>
                        {#<div class="new-popup-registration__mask-item__added-photo">
                            <div class="new-popup-registration__mask-item__added-photo__wrapper">
                                <img alt="" src="http://placehold.it/106x106"/>
                            </div>
                            <i class="icon-mask-delete"></i>
                            <i class="icon-mask-crop"></i>
                        </div>#}
                    </div>
                </div>
            </div>
            <div class="new-popup-registration__buttons">
                <p class="mb20">
                    <button class="violet_btn" disabled>Продолжить</button>
                </p>
                <p><a href="#"
                      class="new-popup-registration__back-link new-popup-registration__back-link--style">Назад</a></p>
            </div>
            <div class="tac bottom-skip-button">
                <a href="#" class="new-popup-registration__skip-link">Пропустить</a>
            </div>
        </div>
        <!-- // END step 1 registration -->
    </div>

    <div class="new-popup-registration tac hidden" data-presentation-toggle-block="2">
        <!-- START step 2 registration -->
        <div class="new-popup-registration__step-container new-popup-registration__step2 pos_r">
            <div class="in_bl tal">
                <p class="new-popup-registration__step-title tac">Шаг 2 из 3. Защита анкеты.</p>
                <p class="new-popup-registration__title tac">Защитите Вашу анкету</p>
                <p class="new-popup-registration__sub-title tac">Чтобы сделать доступ к учетной записи безопасным,
                    добавьте свой
                    номер мобильного телефона, на который мы вышлем бесплатное СМС с кодом подтверждения.</p>
            </div>
            <form action="#" class="new-popup-registration__step2__form mb20 pos_r">
                <!-- START standard-form-content -->
                <div class="new-popup-registration__step2__form-content">
                    <p class="mb20 pos_r">
                        <input type="number" placeholder="Код из СМС">
                        <span class="form--error-notification">Неверный код</span>
                    </p>
                    <p class="mb20">
                        <button class="violet_btn db">Отрпавить</button>
                    </p>
                    <p><a href="#" class="new-popup-registration__back-link--style">Выслать другой код</a></p>
                </div>
                <!-- // END standard-form-content -->

                {% include 'widgets/preloader.twig' with { "visible": "true" } %}

                <!-- START new-popup-registration__step2__form--send -->
                <div class="new-popup-registration__step2__form--send hidden">
                    <p class="mb20">Готово!</p>
                    <p><a href="#" class="violet_btn">Продолжить</a></p>
                </div>
                <!-- // END new-popup-registration__step2__form--send -->
            </form>
            <p class="light-text">Данная информация необходима для защиты учетной записи. Мы ни кому не разглашаем Ваши
                данные, Ваш номер не будет доступен другим пользователям. Вся процедура бесплатна.</p>
            <div class="tac bottom-skip-button">
                <a href="#" class="new-popup-registration__skip-link">Подтвердить позднее</a>
            </div>
        </div>
        <!-- // END step 2 registration -->
    </div>
    <div class="new-popup-registration tac" data-presentation-toggle-block="3">
        <!-- START step 3 registration -->
        <div class="new-popup-registration__step-container new-popup-registration__step3 pos_r">
            <div class="in_bl tal">
                <p class="new-popup-registration__step-title tac">Шаг 3 из 3. Анкета.</p>
                <p class="new-popup-registration__title tac">Заполните Вашу анкету</p>
                <p class="new-popup-registration__sub-title tac">Мы рекомендуем заполнять анкету подробно, чтобы
                    девушкам со
                    схожими интересами и целями было проще найти подходящую пару.</p>
            </div>
            <form action="#" class="new-popup-registration__step3__form mb20 pos_r">
                <!-- START standard-form-content -->
                <div class="new-popup-registration__step3__form-content">
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Расскажите о себе
                        </div>
                        <div class="new-popup-registration__step3-field-container">
                            <div class="pos_r">
                                <textarea class="error-input mb5"
                                          placeholder="Напишите о себе (максимум 500 символов)"></textarea>
                                <span class="form--error-notification">Неверный код</span>
                            </div>
                            <p class="fz12 tal grey-color">Согласно <a href="#"
                                                                       class="new-popup-registration__back-link--style">правилам</a>
                                сайта запрещено указывать контактые данные, а так же использовать нецензурную лексику
                            </p>
                        </div>
                    </div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Цель знакомства
                        </div>
                        <div class="new-popup-registration__step3-field-container">
                            <div class="pos_r tal">
                                <label class="dib vam mr5">
                                    <input type="checkbox" class="hidden no-style" name="1">
                                    <span class="new-popup-reg__radio-detect">блондин</span>
                                </label>
                                <label class="dib vam mr5">
                                    <input type="checkbox" class="hidden no-style" name="1">
                                    <span class="new-popup-reg__radio-detect">блондин</span>
                                </label>
                                <label class="dib vam mr5">
                                    <input type="checkbox" class="hidden no-style" name="1">
                                    <span class="new-popup-reg__radio-detect">блондин</span>
                                </label>
                                <label class="dib vam mr5">
                                    <input type="checkbox" class="hidden no-style" name="1">
                                    <span class="new-popup-reg__radio-detect">блондин</span>
                                </label>
                                <span class="form--error-notification hidden">Неверный код</span>
                            </div>
                        </div>
                    </div>
                    <div class="new-popup-registration__step3-separator form-line"></div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Рост
                        </div>
                        <div class="new-popup-registration__step3-field-container get_in_top">
                            <div class="pos_r tal">
                                <div class="dib mr5">
                                    <input type="text" class="small-input">
                                </div>
                                <div class="dib vam text-light">см</div>
                                <span class="form--error-notification hidden">Неверный код</span>
                            </div>
                        </div>
                    </div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Вес
                        </div>
                        <div class="new-popup-registration__step3-field-container get_in_top">
                            <div class="pos_r tal">
                                <div class="dib mr5">
                                    <input type="text" class="small-input">
                                </div>
                                <div class="dib vam text-light">кг</div>
                                <span class="form--error-notification hidden">Неверный код</span>
                            </div>
                        </div>
                    </div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Внешность
                        </div>
                        <div class="new-popup-registration__step3-field-container get_in_top">
                            <div class="pos_r tal">
                                <div class="select_wrap vam tal text-light">
                                    <select class="selectbox">
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                    </select>
                                </div>
                                <span class="form--error-notification hidden">Неверный код</span>
                            </div>
                        </div>
                    </div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Телосложение
                        </div>
                        <div class="new-popup-registration__step3-field-container get_in_top">
                            <div class="pos_r tal">
                                <div class="select_wrap vam tal text-light">
                                    <select class="selectbox">
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                        <option value="">asdasd</option>
                                    </select>
                                </div>
                                <span class="form--error-notification hidden">Неверный код</span>
                            </div>
                        </div>
                    </div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Цвет волос
                        </div>
                        <div class="new-popup-registration__step3-field-container checkboxes-container tal">
                            <label class="dib vam mr5">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">блондин</span>
                            </label>
                            <label class="dib vam mr5">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">блондин</span>
                            </label>
                            <label class="dib vam mr5">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">блондин</span>
                            </label>
                            <label class="dib vam mr5">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">блондин</span>
                            </label>
                        </div>
                    </div>
                    <div class="display-flex form-line">
                        <div class="new-popup-registration__step3-field-name">
                            Цвет глаз
                        </div>
                        <div class="new-popup-registration__step3-field-container checkboxes-container tal">
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                            <label class="dib vam mr5 curp">
                                <input type="radio" class="hidden no-style" name="1">
                                <span class="new-popup-reg__radio-detect">карие</span>
                            </label>
                        </div>
                    </div>
                    <div class="new-popup-registration__step3-separator form-line"></div>
                    <p class="mb20">
                        <button class="violet_btn">Отрпавить</button>
                    </p>
                </div>
                <!-- // END standard-form-content -->

                {% include 'widgets/preloader.twig' %}
            </form>
            <div class="tac bottom-skip-button">
                <a href="#" class="new-popup-registration__skip-link">Подтвердить позднее</a>
            </div>
        </div>
        <!-- // END step 3 registration -->
    </div>
    <div class="new-popup-registration tac hidden" data-presentation-toggle-block="4">
        <!-- START thx registration -->
        <div class="new-popup-registration__step-container no-min-height no-pb new-popup-registration__thx pos_r">
            <p class="mb20"><i class="icon-new-reg-success"></i></p>
            <p class="mb20 new-popup-registration__title lhn tac">Поздравляем, Вы зарегистрированы <br> и получаете
                премиум-доступ на 36 часов бесплатно!</p>
            <p class="mb30">Для получения доступа ко всем возможностям сайта и <br>активации анкеты перейдите по ссылке
                в письме, которое мы
                <br>отправили на info@me.com</p>
            <p>
                <a href="#" class="violet_btn">Продолжить</a>
            </p>

        </div>
        <!-- // END thx registration -->
    </div>
    <div class="new-popup-registration tac hidden" data-presentation-toggle-block="5">
        <!-- START thx registration -->
        <div class="new-popup-registration__step-container no-min-height no-pb new-popup-registration__thx pos_r">
            <p class="mb20"><i class="icon-new-reg-success"></i></p>
            <p class="new-popup-registration__title lhn tac">Спасибо, Ваши данные добавлены</p>
            <p class="mb30">По <a href="#" class="new-popup-registration__back-link--style">правилам</a> сайта
                информация <strong>о себе</strong> и <strong>фотографии</strong> станут <br>доступны другим пользователям в течении 30 минут.</p>
            <p class="mb20">
                <a href="#" class="violet_btn">Перейти в поиск</a>
            </p>
            <p><a href="#" class="new-popup-registration__back-link--style">Редактировать анкету</a></p>
        </div>
        <!-- // END thx registration -->
    </div>

    <!-- START popup registration -->
    <div class="new-popup-registration__wrapper lhn new-popup-registration__styles has-skip-link pos_r hidden" data-presentation-toggle-block="6">
        <p class="new-popup-registration__title tac">Регистрация</p>
        <div class="display-flex space-between mb30">
            <div class="new-popup-reg__left">
                <div class="new-popup-reg__left-text text-light">
                    <p class="mb30">Регистрация на портале – это быстрый способ найти партнера
                        для серьезных или мимолетных увлечений. </p>
                    <p>Зарегистрировавшись, Вы получаете доступ к анкетам лучших Золушек рунета с проверенными фото, а
                        так же возможность следить за активностью других посетителей, отправлять сообщения, совершать
                        анонимные звонки и делать рассылки.</p>
                </div>

                <div class="new-popup-reg__present display-flex flex-middle">
                    <i class="icon-new-reg-present mr10"></i>
                    <div class="ff-bold">
                        Дарим премиум-доступ на 12 часов <br>Всем мужчинам, прошедшим регистрацию
                    </div>
                </div>
            </div>
            <div class="new-popup-reg__right get_in_top">
                <div class="form-line">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="form-line">
                    <input type="text" placeholder="Электронная почта (e-mail)">
                </div>
                <div class="form-line">
                    <input type="text" placeholder="Москва">
                </div>
                <div class="form-line new-reg__gender-wrapper display-flex tac">
                    <div class="w50 pos_r">
                        <input type="radio" name="1" class="no-style">
                        <div class="new-reg__radio-detector">М</div>
                    </div>
                    <div class="w50 pos_r">
                        <input type="radio" name="1" class="no-style">
                        <div class="new-reg__radio-detector">Ж</div>
                    </div>
                </div>
                <div class="form-line pos_r tal new-popup-reg__main-block display-flex space-between flex-middle">
                    <div class="w30 pos_r">
                        <div class="select_wrap vam tal text-light">
                            <select class="selectbox">
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                            </select>
                        </div>
                        <span class="form--error-notification hidden">Неверный код</span>
                    </div>
                    <div class="w30 pos_r">
                        <div class="select_wrap vam tal text-light">
                            <select class="selectbox">
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                            </select>
                        </div>
                        <span class="form--error-notification hidden">Неверный код</span>
                    </div>
                    <div class="w30 pos_r">
                        <div class="select_wrap vam tal text-light">
                            <select class="selectbox">
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                                <option value="">asdasd</option>
                            </select>
                        </div>
                        <span class="form--error-notification hidden">Неверный код</span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="violet_btn db">Продолжить</button>
                </div>
            </div>
        </div>
        <div class="new-popup-registration__bottom tac mb30">
            <div class="mb20">
                <a href="#" class="new-purple-link mr10 dib">Войти</a>
                <a href="#" class="new-purple-link dib">Забыли пароль?</a>
            </div>
            <p class="fz12">
                Продолжая, Вы принимаете условия
                <a href="#" class="new-purple-link">пользовательского соглашения</a>
            </p>
        </div>
        <div class="tac bottom-skip-button">
            <a href="#" class="new-popup-registration__skip-link">Подтвердить позднее</a>
        </div>
    </div>
    <!-- // END popup registration -->

{% endblock %}


{% block scriptsBlock %}
    <script>
        $(document).ready(function(){
            $('[data-presentation-toggle]').click(function () {
                var bl = $('[data-presentation-toggle-block="'+$(this).attr('data-presentation-toggle')+'"]');

                $('[data-presentation-toggle-block]').hide();
                bl.stop().show();

                console.log('hi')
            });
        });
    </script>
{% endblock %}