{% extends "layouts/app.twig" %}

{% block pageTitle %}Регистрация мужчин{% endblock %}

{% block content %}

		<div id='main_cont'>
			<div class="content_wrap_shadow">
				<div class="page_inside_content">
					<div class="clearfix">
						<div class="l_bl wallet_menu trans_all">
							<a href="#" class="wallet-menu__premium-present">
								<i class="icon-premium-present"></i>
								<div class="wallet-menu__premium-text ffr">
									<p class="ffm">
										Получить скидку до <span class="wallet-menu__red-text">15%</span>
									</p>
									<p>и стать членом VIP клуба</p>
								</div>
							</a>
							<ul>
								<li class="fill_balance_li ffr"><a href="/payment">Пополнить счёт</a></li>
								<li><a href="/payment/promo-code">Промокоды</a></li>
								<li><a href="/payment/top-fixed">Закрепление анкеты в ТОП</a></li>
								<li><a href="/payment/photo-place">Место в фотоленте</a></li>
								<li class="active ffr"><a href="/payment/top-elevated">Поднятие анкеты в ТОП</a></li>
								<li><a href="/payment/online">Кто онлайн</a></li>
								<li class="inactive "><a href="/payment/unblock">Разблокировать анкету</a></li>
							</ul>
						</div>
						<div class="wallet_content fix_profile purchases">
							<div class="display-flex space-between flex-middle mb25">
								<div class="title30px gray_txt">Бесплатные услуги</div>
								<div>
									<a href="#" class="wallet-switcher-link ff-bold">Архив бесплатных опций</a>
								</div>
							</div>

							<div class="wallet-purchases">
								<div class="fz18 ffr mb20">Вы можете активировать ваши бесплатные опции</div>

								<div class="wallet-purchases__list">
									<div class="wallet-purchases__item">
										<div class="wallet-purchases__item-title"><a class="wallet-purchases__item-link" href="#">Подъем анкеты</a></div>
										<div class="wallet-purchases__item-period">2 недели</div>
										<div class="wallet-purchases__item-link">
											<a href="#" class="new-purple-link">Активировать</a>
										</div>
									</div>
									<div class="wallet-purchases__item">
										<div class="wallet-purchases__item-title"><a class="wallet-purchases__item-link" href="#">Подъем анкетыПодъем анкеты</a></div>
										<div class="wallet-purchases__item-period">2 недели</div>
										<div class="wallet-purchases__item-link">
											<a href="#" class="new-purple-link">Активировать</a>
										</div>
									</div>
									<div class="wallet-purchases__item">
										<div class="wallet-purchases__item-title"><a class="wallet-purchases__item-link" href="#">Подъем анкеты</a></div>
										<div class="wallet-purchases__item-period">2 недели2 недели</div>
										<div class="wallet-purchases__item-link">
											<a href="#" class="new-purple-link">Активировать</a>
										</div>
									</div>
									<div class="wallet-purchases__item">
										<div class="wallet-purchases__item-title"><a class="wallet-purchases__item-link" href="#">Подъем анкеты</a></div>
										<div class="wallet-purchases__item-period">2 недели</div>
										<div class="wallet-purchases__item-link">
											<a href="#" class="new-purple-link">Активировать</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}