<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block pageTitle %}{% endblock %}</title>

	<!-- Stylesheets -->
	{% include "stylesheets.twig" %}
	{% block stylesheet %}{% endblock %}
</head>
<body>
<div class="main-wrapper" id="wrapper">
	{% if page == 'true' %}
		<!-- Header block -->
		{% include "header.twig" %}
		<!-- Header block end -->
	{% endif %}

	<!-- Block content -->
	{% block content %}{% endblock %}
	<!-- Block content end -->

	{% if page == 'true' %}
		<!-- Footer block -->
		{% include "footer.twig" %}
		<!-- Footer block end -->
	{% endif %}



	{% include 'popups.twig' %}

</div>
<!-- Scripts -->
{% include "scripts.twig" %}

{% block scriptsBlock %}{% endblock %}
</body>
</html>