<footer id="main_footer">
    <div class="bg_wrap"></div>
    <div class="bottom_footer">
        <div class="cont_wrap clearfix">
            <div class="l_bl">
                <ul class="nav">
                    <li><a href="/zolushka-project">О проекте</a></li>
                    <li><a href="/blog">Блог</a></li>
                    <li><a href="#">Города</a>
                        <ul id="footer-city-select" class="dropdown">
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"
                                                                                           data-get-value="text-label"><a
                                                href="/city/saint-petersburg">Санкт-Петербург</a></span></label></li>
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"
                                                                                           data-get-value="text-label"><a
                                                href="/city/ekaterinburg">Екатеринбург</a></span></label></li>
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"
                                                                                           data-get-value="text-label"><a
                                                href="/city/krasnoyarsk">Красноярск</a></span></label></li>
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"><a
                                                href="/city/novosibirsk">Новосибирск</a></span></label></li>
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"
                                                                                           data-get-value="text-label"><a
                                                href="/city/perm">Пермь</a></span></label></li>
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"
                                                                                           data-get-value="text-label"><a
                                                href="/city/samara">Самара</a></span></label></li>
                            <li class="clearfix"><label><span class="dib vam"></span><span class="dib vam"
                                                                                           data-get-value="text-label"><a
                                                href="/city/ufa">Уфа</a></span></label></li>
                        </ul>
                    </li>
                    <li><a href="/terms-of-use" target="blank">Пользовательское
                            соглашение</a></li>
                    <li><a href="/rules">Правила</a></li>
                </ul>
                <div class="soc_txt">
                    <div class="soc_text">
                        Оставайтся в курсе <br>
                        Содержанки в социальных сетях
                    </div>
                    <div class="soc_icons"><a href="https://vk.com/zolushka_project" target="_blank">
                            <div class="icon socicon-vkontakte"></div>
                        </a><a href="https://www.facebook.com/zolushka.project" target="_blank">
                            <div class="icon socicon-facebook"></div>
                        </a><a href="https://www.instagram.com/zolushka.promo/" target="_blank">
                            <div class="icon socicon-instagram"></div>
                        </a><a href="https://twitter.com/zolushkaproject" target="_blank">
                            <div class="icon socicon-twitter"></div>
                        </a><a href="https://google.com/+SoderzhankionlineRuOfficial" target="_blank">
                            <div class="icon socicon-googleplus"></div>
                        </a><a href="https://youtube.com/c/SoderzhankionlineRuOfficial" target="_blank">
                            <div class="icon socicon-youtube"></div>
                        </a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="copy">
                    © «Золушка project». Лучший on-line сервис по поиску спонсоров и содержанок,
                    2015-2016<br>
                    Администрация не несёт ответственности за размещённые анкеты - Вся информация на сайте
                    предоставлена посетителями.
                </div>
            </div>
            <div class="r_bl">
                <ul class="pink_nav">
                    <li><a href="/to-mobile-version">Мобильный сайт</a></li>
                    <li><a href="/feedback">Обратная связь</a></li>
                </ul>
                <div class="footer__application tar clearfix"><a href="/promo-mobile" target="_blank"
                                                                 class="footer__application-icon"><i
                                class="icon-new__appstore"></i></a><a href="/promo-mobile" target="_blank"
                                                                      class="footer__application-icon"><i
                                class="icon-new__google-play"></i></a></div>
            </div>
        </div>
    </div>
</footer>