{% include '../widgets/infoplate.twig' %}

<header id="main_header">
    <div class="top_header">
        <div class="cont_wrap clearfix tac"><a href="/" class="logo_bl clearfix l_bl">
                <div class="icon_logo l_bl"><img src="/images/logo.png" alt="#"></div>
                <div class="txt_logo l_bl"><p class="bot">Золушка</p>
                    <p class="top">project</p></div>
            </a>
            <div class="login_wrap r_bl"><a href="/promo-mobile" class="in_bl it_el app_store" target="_blank">
                    App Store
                </a><a href="/promo-mobile" target="_blank" class="in_bl it_el google_play">
                    Google Play
                </a>
                <div class="login_bl in_bl"><a href="#" class="log_btn in_bl" data-popup-open="login">
                        Вход
                    </a><a href="/registration" class="violet_btn reg_btn in_bl">
                        Регистрация
                    </a></div>
            </div>
        </div>
    </div>
    <div class="sep_header"></div>
    <div class="bot_header">
        <div class="cont_wrap clearfix">
            <ul class="prof_nav l_bl">
                <li class=""><a href="/search">Поиск</a></li>
                <li class="sep_line">
                    |
                </li>
                <li><a href="/about">
                        О проекте
                    </a></li>
            </ul>
        </div>
    </div>
</header>